form div {
  margin-top:10px;
}

form div label {
  width: 80px;
  display: inline-block;
}

form div input {
  width: 200px;
  display: inline-block;
}

form div button {
  margin-top:15px;
  width: 290px;
  display: inline-block;
  background-color: #5AA9E6;
  color: white;
  border: 1px solid #5AA9E6;
  height: 35px;
  border-radius: 3px;
}

